.homeParallax {
  /* margin-top: 20px; */
  /* width: ; */
  /* display: flex; */
}

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  background-color: #e6dace;
  color: #000;
  top: 0;
  z-index: 1;
  margin-top: 50px;
}
.section:nth-child(1) .fixed {
  transform: translate(0, 0);
  top: 0;
  left: 0;
}

.section:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #e6dace;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  transform: translate(-50%, -50%);
}
