{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true,
  },
  "extends": [
    "standard",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:security/recommended",
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "prettier/prettier": "error",
    "array-callback-return": "error",
    "complexity": ["error", 6],
    "max-statements": ["error", 13],
    "max-statements-per-line": [
      "error",
      {
        "max": 1,
      },
    ],
    "max-nested-callbacks": ["error", 2],
    "max-depth": [
      "error",
      {
        "max": 2,
      },
    ],
    "max-lines": ["error", 250],
    "no-eval": "error",
    "no-return-assign": "error",
    "no-param-reassign": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-console": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
  },
  "plugins": [
    "react",
    "react-hooks",
    "security",
    "prettier",
    "@typescript-eslint",
  ],
}
