.menu {
  list-style: none;
  display: flex;
  align-items: flex-end;

  li {
    padding: 8px;
    font-size: 0.875rem;

    a {
      text-decoration: none;
      color: #0050ff;
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      font-weight: bold;
    }
  }
}
