.home {
  width: 100vw;
  height: calc(100vh - 127px);
  display: flex;
  margin-top: 127px;
}

.leftSide {
  width: 45vw;
  height: 100%;
  background-color: #e6dace;
  display: flex;
  align-items: center;
  justify-content: end;

  .profileBox {
    width: 325px;
    height: 65vh;
    background-color: #f4ece6;
    margin-right: -40px;
    z-index: 1;
    text-align: center;
    overflow: hidden;

    .profileImg {
      display: block;
      border-radius: 50%;
      margin: 30px auto 20px auto;
    }

    b {
      line-height: 130%;
      font-size: 1.2rem;
    }

    hr {
      height: 4px;
      width: 18%;
      background-color: #0050ff;
      margin: 20px auto;
    }
  }
}

.rightSide {
  width: 55vw;
  height: 100%;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  padding: 0 0 0 80px;

  .alignCenter {
    height: 380px;
    margin-top: -127px;
  }

  h1 {
    font-size: 3rem;
  }

  b {
    display: block;
    margin-bottom: 26px;
  }

  button {
    margin: 0 10px 12px 0;
  }
}
