.header {
  width: 100%;
  height: 127px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;

  p {
    /* width: 50%; */
    display: inline;
    margin-left: 50px;

    b {
      font-size: 1.5rem;
    }

    .icon {
      width: 16px;
      height: 16px;
      background-color: #0050ff;
      display: inline-block;
      margin: 0 15px;
    }
  }

  .menu {
    margin-right: 50px;
  }
}
